body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--body);
    color: rgb(255, 255, 255);
}

.btn {
    text-decoration: underline;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    color: black;
    border-color: rgb(122, 177, 224);;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: black;
}

#game {
    background-color: #333;
    margin-top:20px;
    color: black;
}

#game.grid-mode{
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 2px;
}

.intro {
    text-align: center;
    color: black;
    background: white;
    padding: 5px;
    margin: 0;
}

:root {
    --train-head: rgba(9, 112, 9, 0.767);
    --train-wagon: rgba(185, 14, 14, 0.616);
    --wall: rgb(3, 30, 70);
    --collectible: rgba(224, 174, 8, 0.637);
    --cell: #333;
    --body: #222;
}

.cell {
    width: 20px;
    height: 20px;
    background: var(--cell);
}

.train-head {
    background: var(--train-head);
}

.wall {
    background-color: var(--wall);
    border-radius: 12px 0 12px 0;
}

.train-wagon {
    background-color: var(--train-wagon);
}

.collectible {
    background-color: var(--collectible);
    border-radius: 50%;
}

body.toggleColor {
    --train-head: rgba(185, 14, 14, 0.616);
    --train-wagon: rgba(9, 112, 9, 0.767);
    --wall:  rgba(224, 174, 8, 0.637);
    --collectible:rgb(3, 30, 70);
    --cell: rgba(225, 226, 225, 0.767);
}
